@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
header{
    background: url(img/header.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
}
.titulo-header{
    background-color: #15171a;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
}
.contenedor .contenedor-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px;
    justify-content: space-between;
}

.contenedor .contenedor-items .item {
    max-width: 100%;
    height: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    height: 350px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.filtro-container {
    text-align: center;
    margin-top: 20px;
}

#filtroCategoria {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnFiltrar {
    background-color: #0b0c0c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btnFiltrar:hover {
    background-color: #0056b3;
}
.contenedor-botones {
    text-align: center;
    margin-top: 20px;
}

.contenedor-botones button {
    background-color: #0b0c0c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.contenedor-botones button.active {
    background-color: #0056b3;
}

.contenedor-botones button:hover {
    background-color: #0056b3;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    height: 350px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.filtro-container {
    text-align: center;
    margin-top: 20px;
}

#filtroCategoria {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnFiltrar {
    background-color: #0b0c0c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btnFiltrar:hover {
    background-color: #0056b3;
}
.contenedor-botones {
    text-align: center;
    margin-top: 20px;
}

.contenedor-botones button {
    background-color: #0b0c0c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.contenedor-botones button.active {
    background-color: #0056b3;
}

.contenedor-botones button:hover {
    background-color: #0056b3;
}
.carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    max-height: 400px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999; 
    overflow-y: auto;
}
.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.carrito-items {
    padding: 10px;
}

.carrito-total .btn-pagar, #vaciarCarrito {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carrito-total .btn-pagar:hover, #vaciarCarrito:hover {
    background-color: #0056b3;
}
.item {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: center; 
    background-color: #f9f9f9; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    transition: transform 0.2s ease; 
  }
  
  .item:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .img-item {
    max-width: 100%; 
    height: auto; 
  }
  
  .precio-item {
    font-weight: bold; 
    color: #333; 
    margin-top: 10px; 
  }
  
  .boton-item {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.2s ease; 
  }
  
  .boton-item:hover {
    background-color: #0056b3; 
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .item {
    max-width: calc(20% - 20px); 
  }
  
  .espacio-blanco {
    width: calc(20% - 20px); 
  }

@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }